<%- include("./template/cabecera", {title : "P치gina no encontrada - NyC"}) %>
<h1><strong>SORRY</strong></h1>
<p>Esta p치gina no est치 disponible. Te sugerimos ir a <a href="/">P치gina de inicio de NyC</a></p>
<%- include("./template/footer") %>