<div class="row d-flex flex-direccion align-items-lg-baseline">
    <div class="col-lg-6">

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#tiendaPerros" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#tiendaGatos" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#tiendaRoedores" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="#">
            <img src="assets/perros.jpg" class="d-block w-100" alt="Un grupo de pequeños cachorros">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="text-dark"><strong>Perros</strong></h5>
                <p class="text-dark">Estás buscando algo para tu perrito? Acá encontrarás lo que buscas!.</p>
            </div>
        </a>
        </div>
        <div class="carousel-item">
          <a href="#">
        <img src="assets/gatos.jpg" class="d-block w-100" alt="Dos tiernos gatitos">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-light"><strong>Gatitos!</strong></h5>
          <p class="text-light">Encuentra todo lo que necesitas para tu minino.</p>
        </div>
        </a>
      </div>
      <div class="carousel-item">
          <a href="#">
        <img src="assets/roedores.jpg" class="d-block w-100" alt="Un grupo de adorables roedores">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-light">Roedores</h5>
          <p class="text-light">¿tienes hámsters o conejos? Entra y obtén lo que necesitas.</p>
        </div>
        </a>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
</div>
<div class="col-lg-6 col-xs-12"><h2>Holas</h2></div>
</div>